// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "shared/index";
@import "workstations/index";

body {
  margin-top: 30px;
}

.container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #D3D3D3;
  padding: 10px;
  position: relative;
}

.little-size {
  font-size: 0.9em;
}
